@page "/createtreatment"
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

<div class="d-flex justify-content-center">
	<div class="col-9 form-group">
		<EditForm Model="@treatment" OnValidSubmit="HandleValidSubmit">
			<DataAnnotationsValidator />
			<h4 class="text-center">Opret en behandling</h4>
			<hr />
			<ValidationMessage For="@(() => treatment.TreatmentName)" />
			<label class="control-label">Behandling</label>
			<input placeholder="f. eks blodprøve" class="form-control" @bind-value="treatment.TreatmentName" />

			<ValidationMessage For="@(() => treatment.TreatmentName)" />
			<label class="control-label">Beskrivelse</label>
			<textarea placeholder="Beskrivelse" class="form-control" @bind="treatment.Description" />

			<br />
			<button class="btn btn-success">Opret</button>
			<a href="/" class="btn btn-secondary">Annuller</a>

		</EditForm>
	</div>
</div>
@code {
	Treatment treatment = new Treatment();

	public async Task HandleValidSubmit()
	{

		await _treatmentRepo.CreateTreatment(treatment);

		StateHasChanged();
		toastService.ShowSuccess("Behandlingen blev oprettet");
		NavigationManager.NavigateTo("/");
	}
}
