@page "/createtreatment"
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

<EditForm Model="@treatment" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<h4>Opret en behandling</h4>
	<hr />
	<ValidationMessage For="@(() => treatment.TreatmentName)" />
	<label class="control-label">Behandling</label>
	<input placeholder="f. eks blodprøve" class="form-control" @bind-value="treatment.TreatmentName" />

	<ValidationMessage For="@(() => treatment.TreatmentName)" />
	<label class="control-label">Beskrivelse</label>
	<textarea placeholder="Beskrivelse" class="form-control" @bind="treatment.Description" />

	<button class="btn btn-success">Opret</button>
	<a href="/" class="btn btn-secondary">Annuller</a>

</EditForm>

@code {
	Treatment treatment = new Treatment();

	public async Task HandleValidSubmit()
	{

		await _treatmentRepo.CreateTreatment(treatment);

		StateHasChanged();
		toastService.ShowSuccess("Behandlingen blev oprettet");
		NavigationManager.NavigateTo("/");
	}
}
