@page "/edittreatment/{treatmentId:int}"
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager


<EditForm Model="@treatment" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<h4>Redigere @treatment.TreatmentName</h4>
	<hr />
	<ValidationMessage For="@(() => treatment.TreatmentName)" />
	<label class="control-label">Behandling</label>
	<input placeholder="f. eks blodprøve" class="form-control" @bind-value="treatment.TreatmentName" />

	<ValidationMessage For="@(() => treatment.TreatmentName)" />
	<label class="control-label">Beskrivelse</label>
	<textarea placeholder="Beskrivelse" class="form-control" @bind="treatment.Description" />

	<button class="btn btn-success">Gem</button>
	<a href="/" class="btn btn-secondary">Annuller</a>

</EditForm>

@code {
	[Parameter]
	public int treatmentId { get; set; }

	Treatment treatment = new Treatment();

	protected override async Task OnInitializedAsync()
	{
		treatment = await _treatmentRepo.GetTreatmentsById(treatmentId);
	}

	public async Task HandleValidSubmit()
	{
		await _treatmentRepo.UpdateTreatment(treatment);

		StateHasChanged();
		toastService.ShowSuccess("Behandlingen blev ændret");
		NavigationManager.NavigateTo("/");
	}
}