@page "/mybookings"
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@attribute [Authorize]

@if (bookings.Count() != 0)
{
@*	<table class="table">
		<thead>
			<tr>
				<td>
					Behandling
				</td>
				<td>
					Begrundelse
				</td>
				<td>
					Tid
				</td>
				<td>
					Er tiden godkendt
				</td>
				<td>
				</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var booking in bookings)
			{
				<tr>
					<td>
						@booking.Treatment.TreatmentName
					</td>
					<td>
						@booking.Reason
					</td>
					<td>
						@booking.Available.Date
					</td>

					<td>
						@if (booking.IsApproved == true)
						{
							<input type="checkbox" checked disabled />
						}
						else
						{
							<input type="checkbox" disabled />
						}
					</td>
					<td>
						<a class="btn btn-info" href="/editbooking/@booking.BookingId">
							<i class="bi bi-pencil-square"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>

	</table>*@

	<div class="d-flex justify-content-center">
		<div class="col-9 form-group">
			<RadzenDataGrid AllowFiltering="false" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
						Data="@bookings" TItem="Booking" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
				<Columns>
					<RadzenDataGridColumn TItem="Booking" Property="Treatment.TreatmentName" Filterable="false" Title="Behandling" Width="100px" TextAlign="TextAlign.Center" />
					<RadzenDataGridColumn TItem="Booking" Property="Reason" Title="Begrundelse" Width="140px" />
					<RadzenDataGridColumn TItem="Booking" Property="Available.Date" Title="Tid" Width="100px">
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="Booking" Property="IsApproved" Title="Godkend tiden" Width="140px">
						<Template Context="data">
							@if (data.IsApproved == true)
							{
								<input type="checkbox" checked disabled />
							}
							else
							{
								<input type="checkbox" disabled />
							}
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="Booking" Sortable="false" Filterable="false" Property="BookingId" Title="Rediger" Width="100px">
						<Template Context="data">
							<a class="btn btn-info" href="/editbooking/@data.BookingId">
								<i class="bi bi-pencil-square"></i>
							</a>
						</Template>
					</RadzenDataGridColumn>
				</Columns>
			</RadzenDataGrid>
		</div>
	</div>
}


@code {
	private List<Booking> bookings = new List<Booking>();

	public ApplicationUser user = new ApplicationUser();

	protected override async Task OnInitializedAsync()
	{
		user = await userManager.GetUserAsync(signInManager.Context.User);

		bookings = _bookingRepo.GetBookingsByPatientId(user.Id).Where(b => b.Available.Date.Date >= DateTime.Now.Date).ToList();
	}
}
