@page "/mybookings"
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@attribute [Authorize]

@if (bookings.Count() != 0)
{
	<table class="table">
		<thead>
			<tr>
				<td>
					Behandling
				</td>
				<td>
					Begrundelse
				</td>
				<td>
					Tid
				</td>
				<td>
					Er tiden godkendt
				</td>
				<td>
				</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var booking in bookings)
			{
				<tr>
					<td>
						@booking.Treatment.TreatmentName
					</td>
					<td>
						@booking.Reason
					</td>
					<td>
						@booking.Available.Date
					</td>

					<td>
						@if (booking.IsApproved == true)
						{
							<input type="checkbox" checked disabled />
						}
						else
						{
							<input type="checkbox" disabled />
						}
					</td>
					<td>
						<a class="btn btn-info" href="/editbooking/@booking.BookingId">
							<i class="bi bi-pencil-square"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>

	</table>
}


@code {
	private List<Booking> bookings = new List<Booking>();

	public ApplicationUser user { get; set; }

	protected override async Task OnInitializedAsync()
	{
		user = await userManager.GetUserAsync(signInManager.Context.User);

		bookings = _bookingRepo.GetBookingsByPatientId(user.Id).ToList();
	}
}
