@page "/viewbookings"
@inject NavigationManager NavigationManager

<table class="table">
	<thead>
		<tr>
			<td>
				Behandling
			</td>
			<td>
				Begrundelse
			</td>
			<td>
				Tid
			</td>
			<td>
				Godkend tiden
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var booking in bookings)
		{
			<tr>
				<td>
					@booking.Treatment.TreatmentName
				</td>
				<td>
					@booking.Reason
				</td>
				<td>
					@booking.Available.Date
				</td>
				<td>
					<input type="checkbox"/>
				</td>
				<td>
					<a class="btn btn-info" href="/editbooking/@booking.BookingId">
						<i class="bi bi-pencil-square"></i>
					</a>
				</td>
				<td>
					<button class="btn btn-danger" @onclick="() => deleteOnClick(booking.BookingId)">
						<i class="bi bi-trash"></i>
					</button>
				</td>
			</tr>
		}
	</tbody>

</table>



@code {
	private List<Booking> bookings = new List<Booking>();

	protected override void OnInitialized()
	{
		bookings = _bookingRepo.GetAllBookings().ToList();
	}

	public async Task deleteOnClick(int bookingId)
	{
		bool res = await Jsruntime.InvokeAsync<bool>
		("confirm", $"Er du sikker på at du vil slette denne tid?");
		if (res)
		{
			await _bookingRepo.DeleteBooking(bookingId);
			toastService.ShowSuccess("Booking blev fjernet");
			NavigationManager.NavigateTo("/viewbookings");
		}
	}
}
