@inherits LayoutComponentBase

@inject NavigationManager _navMan

<BlazoredToasts Timeout="3"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fas fa-check-circle"
				ErrorIcon="fas fa-exclamation-circle"
				InfoIcon="fas fa-info-circle" />

<PageTitle>BlazorWeb</PageTitle>

<AuthorizeView>
	<Authorized>
		<div class="page">
			<main>
				<NavMenu />
				<article class="content px-4">
					@Body
				</article>
			</main>
		</div>
	</Authorized>
	<NotAuthorized>
		<!---->
	</NotAuthorized>
</AuthorizeView>


@code {
	[CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
	protected async override Task OnInitializedAsync()
	{
		base.OnInitialized();
		var user = (await AuthStat).User;
		if (!user.Identity.IsAuthenticated)
		{
			_navMan.NavigateTo($"/Identity/Account/Login");
		}
	}
}