@inherits LayoutComponentBase

<BlazoredToasts Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-check-circle"
                ErrorIcon="fas fa-exclamation-circle" 
                InfoIcon="fas fa-info-circle"/>

<PageTitle>BlazorWeb</PageTitle>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
