@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

<nav class="navbar">
	<div class="px-3 navbar-light">
		<a class="navbar-brand" href="">Booking</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>

	<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
		<div class="navbar">
			<AuthorizeView>
				<Authorized>
					<div class="nav-item">
						<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
							<span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
						</NavLink>
					</div>
					<div class="nav-item">
						<NavLink class="nav-link" href="createbooking">
							<span class="bi bi-calendar-plus-fill" aria-hidden="true"></span> Booke en tid
						</NavLink>
					</div>
					@if (User.Role == 3)
					{
						<div class="nav-item">
							<NavLink class="nav-link" href="mybookings">
								<span class="bi bi-calendar2-week-fill" aria-hidden="true"></span> Mine tider
							</NavLink>
						</div>
					}
					@if (User.Role != 3)
					{
						<div class="nav-item">
							<NavLink class="nav-link" href="createhospitalization">
								<span class="bi bi-calendar-plus-fill" aria-hidden="true"></span> Booke indlæggelser
							</NavLink>
						</div>
						<div class="nav-item">
							<NavLink class="nav-link" href="createavailable">
								<span class="bi bi-clipboard2-plus-fill" aria-hidden="true"></span> Opret en tid
							</NavLink>
						</div>
						<div class="nav-item">
							<NavLink class="nav-link" href="createtreatment">
								<span class="bi bi-clipboard2-plus-fill" aria-hidden="true"></span> Opret en behandling
							</NavLink>
						</div>
						<div class="nav-item">
							<NavLink class="nav-link" href="viewbookings">
								<span class="bi bi-card-list" aria-hidden="true"></span> Se bookede undersøgelser
							</NavLink>
						</div>
						<div class="nav-item">
							<NavLink class="nav-link" href="viewhospitalizations">
								<span class="bi bi-card-list" aria-hidden="true"></span> Se indlæggelser
							</NavLink>
						</div>

						<div class="nav-item">
							<NavLink class="nav-link" href="viewavailables">
								<span class="bi bi-card-list" aria-hidden="true"></span> Se alle tider
							</NavLink>
						</div>
						<div class="nav-item">
							<NavLink class="nav-link" href="viewtreatments">
								<span class="bi bi-card-list" aria-hidden="true"></span> Se alle behandlinger
							</NavLink>
						</div>
					}
					<div class="nav-item">
						Hej @User.Firstname @User.Lastname
					</div>

					<div class="nav-item">
						<NavLink class="nav-link" href="Identity/Account/LogOut">
							<span class="btn bi bi-box-arrow-right"></span> Log ud
						</NavLink>
					</div>

				</Authorized>
				<NotAuthorized>
					<a href="Identity/Account/Login">Log in</a>
				</NotAuthorized>
			</AuthorizeView>
		</div>
	</div>
</nav>


@code {
	public ApplicationUser User = new ApplicationUser();

	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	protected override async Task OnInitializedAsync()
	{
		User = await userManager.GetUserAsync(signInManager.Context.User);
	}

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
