﻿<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <h2>Du skal logge ind klik <a href="login">her</a></h2>
                    </NotAuthorized>
                    <Authorizing>
                        <h1>Hello</h1>
                    </Authorizing>
                </AuthorizeRouteView>
            </Found>

    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
﻿</CascadingAuthenticationState>
